.grid-tarjeta-nosotros {
  padding: 2%;
  margin: auto;
  font-family: "Roboto";
  display: grid;
  border-radius: 20px;
width: 60vw;
justify-content: center;
  background-color: white;

  grid-template-columns: 5vw 25vw 25vw 5vw;
  grid-template-rows: auto auto auto;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". g-titulo-nosotros g-titulo-nosotros ."
    ". g-cont1-nosotros g-cont2-nosotros ."
    ". g-img-sobre-nosotros g-img-sobre-nosotros .";
}
@media (max-width: 1000px) {
  .grid-tarjeta-nosotros {
    grid-template-columns: 5vw 60vw 10vw;
    width:auto;
    grid-template-areas:
      ". g-titulo-nosotros  ."
      ". g-cont1-nosotros  ."
      ". g-cont2-nosotros ."
      ". g-img-sobre-nosotros.";
  }
}

.g-img-sobre-nosotros {
  grid-area: g-img-sobre-nosotros;
  display: flex;
  justify-content: center;
  img {
    width: 80%;
    border-radius: 10px;
  }
}

.g-cont1-nosotros {
  grid-area: g-cont1-nosotros;

  text-align: justify;
  line-height: 30px;
  padding: 4%;
}

.g-cont2-nosotros {
  grid-area: g-cont2-nosotros;
  text-align: justify;
  line-height: 30px;
  padding: 4%;
}

.g-titulo-nosotros {
  grid-area: g-titulo-nosotros;
  color: red;
  p {
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
  }
}

/*Comentarios*/
/*CARDS */
.card-body {
  font-family: "Roboto";

  .card-title {
    font-weight: bolder;
  }
  .card-text {
    text-align: justify;
  }
}
.col-md-8{
display: flex;
justify-content: center;
align-items: center;
    border-radius:20px ;
    padding-right: 2vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
}
.col-md-4{
    padding: 2vh;
}
.g-0, .gy-0 {
  
  border: #a87675 solid 3px;
  border-radius: 10px;
  width: auto;
}
.card-body .card-text {
  text-align: end;
}

@media(max-width:765px){
  .col-md-4{
    padding: 7vh;
}
}

@media (min-width: 766px){
    .col-md-4{
        display: flex;
        flex: 0 0 auto;
        width: 40%;
        justify-content: center;
        align-items: center;
    }
    .col-md-8{
        flex: 0 0 auto;
        width: 60%;
    }
}

element.style {
  max-width: 60vw;
  border-radius: 10px;
}
img,
svg {
  vertical-align: middle;
  width: -webkit-fill-available;
}




/*Fin de comentarios*/

/*FIN GRID SOBRE NOSOTROS */

.tituloClientes {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 45px;
  .titulocomentarioClientes {
    padding-left: 15px;
    padding-right: 15px;
    font-family: "Roboto";
    font-size: 35px;
    border-style: none none solid none;
    margin-bottom: 30px;
  }
}